/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #ffffff;
 
}

header {
    margin: 0;
    padding: 0;
}

.navegation {
    width: 1000px;
    margin: 20px auto;
    background: #ecaa84;
}

.navegation ul{
    list-style: none;
}

.menu > li{
    display: inline-block;  
    justify-content: space-around; 
}

.menu > li > a{
    display: block;
    padding: 15px 70px;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
}

.menu li a:hover{
    color: #ffffff;
    transition: all .3s;
}

.submenu_1 {
    position: absolute;
    background:rgb(255, 255, 255);
    width: 12%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    margin: 10px 50px;
}

.submenu_2 {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 9%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu_1 li a{
    display:block;
    padding: 15px;
    color: rgb(116, 116, 116);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.submenu_2 li a{
    display:block;
    padding: 15px;   
    color:  rgb(14, 2, 48);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu_1{
    visibility: visible;
    opacity: 1;
 
}

.menu li:hover .submenu_2{
    visibility: visible;
    opacity: 1;
}

.portada h1 {
    color:#4C7882;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 30px 50px;
    padding: 0 50px;
    font-size: 3em;
}

.portada_principal {
    display: flex;
    justify-content: center;
}

.portada figure img {
    border-radius: 30px;
    width: 60%;   
}







